@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: setTextColor($primary-color);
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 100;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        font-size: 3.2rem;
        background: rgba(lighten($primary-color, 2), 0);
    }
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.txt-type {
    color: $tertiary-color;
    font-weight: bolder;
}

.text-secondary {
    color: $secondary-color;
    font-weight: 900;
}

.text-third {
    color: $tertiary-color;
    font-weight: 900;
}

main {
    height: 100%;
    padding: 4rem;
    overflow: hidden;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.7rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}

#about {
    background: $primary-color;
    padding: 4rem;
    overflow: hidden;

    .lg-heading {
        padding-bottom: 2rem;
    }


    .about-info {
        padding: 0 0.8rem;
        display: grid;
        grid-gap: 30px;
        grid-template-areas:
            'aboutimg bio bio'
            'job1 job2 job3';
        grid-template-columns: repeat(3, 1fr);

        .about-img {
            grid-area: aboutimg;
            margin: auto;
            border-radius: 50%;
            border: $secondary-color 3px solid;
        }

        img {
            width: 60%;
        }

        .bio {
            grid-area: bio;
            font-size: 1.5rem;
        }

        .job1 {
            grid-area: job1;
        }

        .job2 {
            grid-area: job2;
        }

        .job3 {
            grid-area: job3;
        }

        .job {
            background: darken($primary-color, 1);
            padding: 0.5rem;
            border-bottom: $secondary-color 5px solid;

            h3 {
                font-size: 1.4rem;
                font-weight: 700;
            }

            h6 {
                font-size: 1.2rem;
                font-weight: 100;
            }
        }
    }
}

// PROJECTS
#portfolio {
    background: #A8A8A8;
    padding: 4rem;
    overflow: hidden;

    .lg-heading {
        padding-bottom: 2rem;
    }

    .projects {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3 1fr);

        img {
            width: 100%;
            border: 3px #FFFFFF solid;

            &:hover {
                opacity: 0.5;
                border-color: $secondary-color;
            }
        }
    }
}

#sent {
    background: $primary-color;
    padding: 4rem;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;

    .lg-heading {
        padding-bottom: 20px;
    }

    .sm-heading {
        padding-bottom: 35px;
    }
}

// BUTTON STYLES

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: $tertiary-color;
        color: setTextColor($tertiary-color);
    }

    .btn-txt {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #FFFFFF;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333333;
}

#contact {
    background: $primary-color;
    padding: 4rem 20rem;
    overflow: hidden;

    h6 {
        font-size: 1.5rem;
        text-align: center;
        color: $tertiary-color;
    }

    .form-control {
        padding-bottom: 10px;
        width: 100%;
        margin: 20px 0;
        background: transparent;
        border: none;
        border-bottom: 2px solid #FFFFFF;
        color: #FFFFFF;
    }

    .toTop {
        font-size: 2.2rem;
        text-align: center;
        animation: bounce 2s infinite;
        -moz-animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;

        @keyframes bounce {

            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(0);
            }

            40% {
                transform: translateY(-20px);
            }

            60% {
                transform: translateY(-10px);
            }
        }
    }
}


#sent {
    background: $primary-color;
    padding: 4rem;
    overflow: hidden;

    .emailsent {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.buttonSubmit {
    background-color: transparent;
    padding: 0.9rem 2rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    margin: 40px 0 0 49%;
    text-decoration: none;
    display: block;
    float: center;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 1.2s, color 0.3s linear;
    overflow: hidden;
    transform: translateX(-40%) translateY(-60%);
    border-radius: 5px;

    &:hover {
        background-color: $secondary-color;
        border: 2px double #FFFFFF;
    }
}

@import 'mobile';