body {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

hr {
    border: none;
    height: 4px;
    color: #EACDCF;
}

#home {
    width: 100%;
    background-color: #EACDCF;
    color: #FFFFFF;
}

#home img {
    width: 85%;
    opacity: 1;

}

#about {
    position: absolute;
    top: 210px;
    left: 3%;
    margin-right: 40%;
}


#portfolio {
    padding: 60px 0;
    background-color: #E8F6FF;
    overflow: hidden;
}

#contact {
    padding: 60px 0;
    background-color: #EACDCF;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.text {
    position: absolute !important;
    margin-bottom: 0;
    left: 7%;
    text-align: left;
    font-size: 3rem;
    animation: heading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -o-animation-delay: 3s;
}

.txt-type {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.txt-type>.txt {
    border-right: 0.2rem solid #777777;
}

.imgcircle {
    margin: 10px;
    border-radius: 20%;
}

/*.flex {
    position: relative;
    font-size: 1.8rem;
    text-align: left;
}*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

.highlight {
    color: #00A6DC;
}

.link-wrap {
    background-color: #0b1922;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.slideinleft {
    text-align: center;
}

.slideinright {
    text-align: center;
}


/*******************************************
                H E A D E R
*******************************************/


.button1 {
    background-color: transparent;
    padding: 0.7rem 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
	display: inline-block;
	margin: 0 auto;
	width: 200px;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	transition: background-color 1.2s, color 0.3s linear;
    overflow: hidden;
    position: absolute;
    top: 550px;
    left: 13%;
    transform: translateX(-40%) translateY(-60%);
    animation: fadeButton 2s ease-in;
    animation-delay: 0s, 8s;
    -moz-animation-delay: 0s, 8s;
    -webkit-animation-delay: 0s, 8s;
    -o-animation-delay: 0s, 8s;
	/*border-radius: 5px;*/
}

.button1:hover {
    background-color: #FFFFFF;
    color: #2C2C2C;
    text-decoration: none;
}

.button1 a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.button1::before {
	box-shadow: inset 0 0 0 160px #FFFFFF;
}

.herofader {
    position: relative;
    animation-name: imagefader;
    animation-duration: 5s;
}


/*******************************************
                N A V B A R
*******************************************/


.nav-link {
    color: #000000;
    font-weight: 700;
    padding: 0;
    background-color:transparent;
    margin-right: 30px;
    border: none;
}

.nav-link:hover {
    color: #00A6DC;
    background-color: transparent;
}


.nav-link a {
    color: #FFFFFF !important;
    text-decoration: none;
}

.navbar {
    display: inline-block;
    margin: 0;
    width: 100%;
    background-color: #EACDCfC7;
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    z-index: 9999;
    padding-left: 15px;
}

.navham {
    color: #FFFFFF;
    border-color: #FFFFFF;
}


/*******************************************
                A B O U T   M E 
*******************************************/


.hide {
    position: relative;
    left: -2000px;
}

.abt-txt {
    margin-left: 7%;
    left: -2000px;
    color: #FFFFFF;
    /* text-shadow: 5px 1px #5252522f; */
    position: relative;
    animation-name: content;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -o-animation-delay: 3s;
}

.abtformat {
    display: flex;
    font-size: 130%;
    font-weight: 200;
}


/*******************************************
            P O R T F O L I O
*******************************************/

.port-txt {
    margin: 8% 0;
    text-align: center;
}

.portimg {
    width: 40%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.portimg:hover {
    transform: scale(1.15);
    transition: transform .35s ease-in-out;
}


/*******************************************
            C O N T A C T    M E 
*******************************************/


.contactweb {
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.contactweb li {
    width: 16.5%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.contactweb a:hover {
    text-decoration: none;
}

.contactweb img {
    max-width: 40%;
}

.contactweb ul {
    list-style-type: none;
}

.cntc-txt a {
    color: #FFFFFF;
    text-decoration: none;
}

.imgcntc {    
    padding-left: 10%;
    font-size: 10px;
    margin: 15px 0 10px 0;
    padding: 8px 30px 10px;
    bottom: 0;
    cursor: pointer;
    justify-content: center;
}

.imgcntc:hover {
    transform: scale(1.15);
    transition: transform .35s ease-in;
}

.cntc-txt a:hover {
    color: #00A6DC;
}

.cntc-txt a:visited {
    color: #6D98BA;
}

.cntc-txt a:visited:hover  {
    color: #00A6DC;
}

.cntc-txt img:hover {
    transform: scale(1.25);
    transition: transform .35s ease-in-out;
}

.contactme {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    height: auto;
    background: #00000000;
    padding: 20px;
    justify-content: center;
}

.form-control {
    padding-bottom: 10px;
    width: 100%;
    margin: 20px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.buttonSubmit {
    background-color: transparent;
    padding: 0.7rem 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 11% 0 0 50%;
    width: 30%;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 1.2s, color 0.3s linear;
    overflow: hidden;
    transform: translateX(-40%) translateY(-60%);
    animation: fadeButton1 5s ease-in;
    animation-delay: 0s, 3s;
    -moz-animation-delay: 0s, 3s;
    -webkit-animation-delay: 0s, 3s;
    -o-animation-delay: 0s, 3s;
    /*border-radius: 5px;*/
}

.buttonSubmit:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.buttonSubmit a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.buttonSubmit::before {
    box-shadow: inset 0 0 0 160px #FFFFFF;
}


/****************************  KEY FRAMES  ***************************/

@keyframes heading {
    0% {top: -50px;}
    100% {top: 75px;}
}

@-moz-keyframes heading {
    0% {top: -50px;}
    100% {top: 75px;}
}

@-webkit-keyframes heading {
    0% {top: -50px;}
    100% {top: 75px;}
}

@-o-keyframes heading {
    0% {top: -50px;}
    100% {top: 75px;}
}

@keyframes content {
  0%   {left: -2000px;}
  100% {left: 0;}
}

@-moz-keyframes content {
  0%   {left: -2000px;}
  100% {left: 0;}
}

@-webkit-keyframes content {
  0%   {left: -2000px;}
  100% {left: 0;}
}

@-o-keyframes content {
  0%   {left: -2000px;}
  100% {left: 0;}
}

@keyframes fadeButton {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fadeButton { 
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeButton { 
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes fadeButton { 
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes imagefader {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes imagefader {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes imagefader {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes imagefader {
    from {opacity: 0;}
    to {opacity: 1;}
}

/****************************  MEDIA QUERIES  ***************************/

@media (max-width: 1200px) {
    .abtformat {
        font-size: 110%;
    }
}

@media (min-width: 725px) and (max-width: 1030px) {
    #about {
        width: 100%;
        position: unset;
        padding: 5%;
        background-color: #9AADBF;
    }

    .abt-txt {
        padding: 5%;
        left: 0;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    .hide {
        left: 0;
        text-align: center;
        color: #FFFFFF;
    }

    .text {
        position: absolute !important;
        margin-bottom: 0;
        top: 15%;
        left: 10%;
        text-align: left;
        font-size: 450%;
        overflow: hidden;
    }

    .txt-type {
        text-align: center;
        font-size: 100%;
        font-weight: 900;
        font-family: 'Lato', sans-serif;
        overflow: hidden;
    }

    .button1 {
        left: 19%;
        top: 60%;
        width: 200px;
    }
}

@media (min-width: 491px) and (max-width: 724px) {
    #portfolio {
        padding: 5%;
        margin: auto;
    }

    #about {
        width: 100%;
        position: unset;
        padding: 5%;
        background-color: #9AADBF;
    }

    .abt-txt {
        padding: 5%;
        left: 0;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    .hide {
        left: 0;
        text-align: center;
        color: #FFFFFF;
    }

    .text {
        position: absolute !important;
        margin-bottom: 0;
        top: 15%;
        left: 10%;
        text-align: left;
        font-size: 160%;
    }

    .txt-type {
        text-align: center;
        font-size: 160%;
        font-weight: 900;
        font-family: 'Lato', sans-serif;
    }

    .button1 {
        left: 23.5%;
        top: 36%;
        width: 200px;
    }

    .buttonSubmit {
        margin-top: 10%;
        width: 200px;
    }
}

@media (min-width: 1px) and (max-width: 490px) {

    #home {
        padding: 900px auto;
        background-color: #EACDCF;
        overflow: hidden;
    }

    #about {
        padding: 60px 0;
        width: 100%;
        position: unset;
        padding: 5%;
        background-color: #9AADBF;
        overflow: hidden;
    }

    #portfolio {
        padding: 60px 0;
        overflow: hidden;
    }

    #contact {
        padding: 60px 0;
        overflow: hidden;
    }

    .text {
        position: relative;
        top: 45px;
        font-size: 155%;
    }

    .txt-type {
        position: relative;
        font-size: 148%;
        font-family: 'Lato', sans-serif;
    }

    .abt-txt {
        padding: 5%;
        left: 0;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    .hide {
        left: 0;
        text-align: center;
        color: #FFFFFF;
    }

    .herofader {
        z-index: -1;
    }

    .button1 {
        top: 180px;
        left: 45%;
    }

    .buttonSubmit {
        margin-top: 18%;
        width: 200px;
    }

    @keyframes heading {
        0% {top: -50px;}
        100% {top: 45px;}
    }

    @-moz-keyframes heading {
        0% {top: -50px;}
        100% {top: 45px;}
    }

    @-webkit-keyframes heading {
        0% {top: -50px;}
        100% {top: 45px;}
    }

    @-o-keyframes heading {
        0% {top: -50px;}
        100% {top: 45px;}
    }
}